body {
    background: rgb(170,170,170);
    background: linear-gradient(180deg, rgba(170,170,170,1) 0%, rgba(0,0,0,1) 14%, rgba(170,170,170,1) 25%, rgba(0,0,0,1) 34%, rgba(170,170,170,1) 42%, rgba(0,0,0,1) 50%, rgba(170,170,170,1) 56%, rgba(0,0,0,1) 75%, rgba(170,170,170,1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
}
a, a:visited, a:hover, a:active {
    color: white;
}
header a, footer a, .product-card a, .product-gallery a, .learn-more-anchor {
    text-decoration: none;
}
.grid {
    display: grid;
    gap: 1rem;
    grid-template-rows: min-content auto min-content;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
    "header aside"
    "main aside"
    "footer footer";
}
header {
    grid-area: header;
    background-color: black;
    text-align: center;
    font-family: 'Arial', sans-serif;
}
main {
    grid-area: main;
    background-color: rgba(255, 255, 255, 0);
}
#mailing-list-modal {
    text-align:center;
    background-color: red;
    /*border: 3px dashed yellow;*/
    font-size: x-large;
    padding: 1rem;
    border-radius: 1rem;
}
#mailing-list-modal p {
    font-style: oblique;
    font-weight: bold;
}
#mailing-list-modal p, #mailing-list-modal form {
    display: inline;
}
#mailing-list-modal form input, #mailing-list-modal form button {
    font-size: x-large;
}
#hide-mailing-list-modal {
    cursor: pointer;
}
.product-branding {
    background: #c9c9c9;
    border: 1rem solid #292929;
}
.product-tagline, .product-logo, .sidebar-product-logo {
    text-align: center;
    margin-top: 2rem;
}
.product-tagline {
    font-size: x-large;
    color: black;
}
article {
    background-color: rgba(0, 0, 0, 0.1);
}
.shop-now {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    font-weight: bold;
    width: 18rem;
    height: 5rem;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    border: 1px solid white;
    box-shadow: 1px 1px;
    background: orangered;
    color: white;
}
.shop-now:hover {
    color: yellow;
    border: 1px solid yellow;
}
article > h3 {
    text-align: center;
    font-size: 3rem;
    background-color: #292929;
    color: #a9a9a9;
    margin: 3rem auto;
}
.products {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.product-card {
    padding: 2.3rem;
    background-color: #292929;
}
.product-image {
    border: 2rem solid #a9a9a9;
    padding: 2px;
    background-color: rgba(255,255,255,0.8);
}
.product-title, .product-code {
    font-weight: bold;
    font-size: x-large;
}
.product-code {
    font-size: medium;
}
.buy-product {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    font-weight: bold;
    width: 18rem;
    height: 5rem;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    background-color: green;
    color: white;
    border: 1px solid white;
    border-radius: 1rem;
}
.buy-product:hover {
    color: yellow;
    border: 1px solid yellow;
}
.product-image, .product-title, .product-code, .gallery-image, .gallery-item-title {
    display: block;
}
.product-card, .gallery-item {
    text-align: center;
    margin: auto;
}
a.gallery-item {
    display: block;
}
.product-gallery {
    background-color: black;
    display: grid;
    gap: 1rem;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
img.gallery-image {
    max-width: 230px;
}
.gallery-item-title {
    font-weight: bold;
    font-size: medium;
    max-width: 10rem;
    margin: 1rem auto;
    text-overflow: ellipsis;
}
.product-description {
    width: 70%;
    margin: 1rem auto;
    padding: 2rem;
    font-size: x-large;
    font-family: 'Georgia', serif;
}
.product-carton {
    width: 294px;
    padding-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}
aside {
    grid-area: aside;
    background-color: #c9c9c9;
    border: 1rem solid #292929;
}
aside > h4 {
    text-align: center;
    font-size: xxx-large;
}
.learn-more {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    font-weight: bold;
    width: 18rem;
    height: 5rem;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    border: 1px solid white;
    box-shadow: 1px 1px;
    background: yellow;
    color: black;
}
.learn-more:hover {
    color: orangered;
    border: 1px solid orangered;
}
/*PRODUCT FEATURE IMAGE STYLING*/
.feature-container img {
    display: block;
    margin: 1rem auto;
    width: 9rem;
    height: 9rem;
}
.feature-list {
    margin: 0;
    font-size: x-large;
    font-family: 'Georgia', serif;
}
.related-products, .more-products {
    font-size: x-large;
}
footer {
    grid-area: footer;
    background-color: black;
    text-align: center;
}


@media all and (max-width: 1255px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: min-content auto auto min-content;
        grid-template-areas: 
        "header"
        "main"
        "aside"
        "footer";
    }   
    .products {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .product-gallery {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(auto-fill,1fr);
    }
    .feature-list, .related-products, .more-products {
        text-align: center;
        margin-left: 0;
    }
}
@media all and (max-width: 800px) {
    .product-gallery {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fill,1fr);
    }
    .product-description {
        font-size: large;
    }
    /*header {
        grid-row: 1;
        grid-column: 1;
    }
    article {
        grid-row: 2;
        grid-column: 1;
    }
    aside {
        grid-column: 1/2;
        grid-row: 2/3;
    }*/
}
@media all and (max-width: 460px) {
    .grid, .products, .product-gallery {
        grid-template-columns: 100%;
    }
    .product-card img {
        width: 200px;
    }
}